/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2023) 
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import "../../.cache/appearance/colors-waybar.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family:
    "FiraCode Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 0px solid #ffffff;
  /* color: #FFFFFF; */
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @color11;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background: #ffffff;
  border-radius: 12px;
  color: @background;
  font-size: 16px;
  font-weight: normal;
  opacity: 0.8;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: #ffffff;
  margin-left: 20px;
  margin-right: 10px;
  padding: 4px 1px;
  border-radius: 12px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
}

#workspaces button {
  padding: 0px 15px;
  margin: 0px 3px;
  border-radius: 12px;
  color: @color11;
  background-color: @color11;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: #cdd6f4;
  background-color: @color11;
  border-radius: 10px;
  min-width: 30px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  background-color: @color1;
  color: #cdd6f4;
  border-radius: 10px;
  min-width: 30px;
  background-size: 400% 400%;
}


/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  color: @background;
  border-radius: 12px;
  padding: 5px 15px 5px 15px;
  opacity: 0.8;
}

#custom-playback {
  background-color: #ffffff;
  font-size: 10px;
  color: @background;
  border-radius: 14px;
  padding: 0px 14px 0px 10px;
  margin-right: 10px;
  opacity: 0.8;
  border: 1px solid #ffffff;
}

#custom-bluetooth {
  background-color: #ffffff;
  font-size: 18px;
  color: @background;
  border-radius: 12px;
  padding: 5px 15px 5px 15px;
  margin-right: 10px;
  opacity: 0.8;
}

#wireplumber {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 5px 15px 5px 15px;
  margin-right: 10px;
  opacity: 0.8;
}

#wireplumber.muted {
  background-color: @color11;
  color: #ffffff;
}

#tray {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 5px 15px 5px 15px;
  margin-right: 10px;
  opacity: 0.8;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-lock {
  background-color: @background;
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
  opacity: 0.8;
}

#custom-reboot {
  background-color: @background;
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
  opacity: 0.8;
}

#custom-shutdown {
  background-color: @background;
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
  opacity: 0.8;
}


/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

menu {
  border-radius: 15px;
  background: #161320;
  color: #b5e8e0;
}
menuitem {
  border-radius: 15px;
}
