/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2023) 
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import "../../.cache/appearance/colors-waybar.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family:
    "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 0px solid #ffffff;
  /* color: #FFFFFF; */
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: #ffffff;
  margin: 5px 5px 5px 5px;
  padding: 4px 1px;
  border-radius: 12px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
}

#workspaces button {
  padding: 0px 10px;
  margin: 0px 3px;
  border-radius: 12px;
  color: @color11;
  background-color: @color11;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
  font-size: 13px;
}

#workspaces button.active {
  color: #cdd6f4;
  background-color: @color11;
  border-radius: 10px;
  min-width: 30px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  background-color: @color1;
  color: #cdd6f4;
  border-radius: 10px;
  min-width: 30px;
  background-size: 400% 400%;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @color11;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background: #ffffff;
  margin: 5px 15px 5px 0px;
  padding: 2px 10px 0px 10px;
  border-radius: 12px;
  color: @background;
  font-size: 16px;
  font-weight: normal;
  opacity: 0.8;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  /* background: @color11; */
  background: #ffffff;
  margin: 3px 15px 3px 0px;
  padding: 2px 3px 1px 3px;
  border-radius: 14px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
  border: 3px solid #ffffff;
}

#taskbar button {
  margin: 0;
  padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-chromium,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
  background-color: @color11;
  font-size: 16px;
  color: #ffffff;
  border-radius: 14px;
  padding: 0px 10px 0px 10px;
  margin: 3px 15px 3px 14px;
  opacity: 0.8;
  border: 3px solid #ffffff;
}

/* -----------------------------------------------------
 * Custom Power
 * ----------------------------------------------------- */

#custom-shutdown {
  background-color: #ffffff;
  font-size: 14px;
  color: @background;
  border-radius: 14px;
  padding: 0px 14px 0px 10px;
  margin-right: 10px;
  opacity: 0.8;
  border: 1px solid #ffffff;
}

#custom-lock {
  background-color: #ffffff;
  font-size: 14px;
  color: @background;
  border-radius: 14px;
  padding: 0px 14px 0px 10px;
  margin-right: 10px;
  opacity: 0.8;
  border: 1px solid #ffffff;
}

#custom-reboot {
  background-color: #ffffff;
  font-size: 14px;
  color: @background;
  border-radius: 14px;
  padding: 0px 14px 0px 10px;
  margin-right: 10px;
  opacity: 0.8;
  border: 1px solid #ffffff;
}


/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#custom-updates.green {
  background-color: #ffffff;
}

#custom-updates.yellow {
  background-color: #ff9a3c;
  color: #ffffff;
}

#custom-updates.red {
  background-color: #dc2f2f;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#custom-scaling {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#wireplumber {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#wireplumber.muted {
  background-color: @color11;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 14px;
  padding: 2px 10px 0px 10px;
  margin: 3px 15px 3px 0px;
  opacity: 0.8;
  border: 3px solid #ffffff;
}

#network.ethernet {
  background-color: @color11;
  color: #ffffff;
}

#network.wifi {
  background-color: @color11;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth.on,
#bluetooth.connected {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 2px 15px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: @color11;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 12px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

menu {
  border-radius: 15px;
  background: #161320;
  color: #b5e8e0;
}
menuitem {
  border-radius: 15px;
}
